## Some Example Queries for Ethereum Data in BigQuery

### Look for a specific transaction using bigquery-public-data.goog_blockchain_ethereum_mainnet_us

In [21]:
%%bigquery
-- Specific transaction
SELECT * FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.transactions` 
WHERE 
--TIMESTAMP_TRUNC(block_timestamp, MONTH) = TIMESTAMP("2023-09-23") AND
transaction_hash = '0x079f72cfd0b677ec21508b5c3fa53207785d258b62ffd5e8b54b06653b5035a0'
LIMIT 1000;

Query is running:   0%|          |

Downloading:   0%|          |

,block_hash,block_number,block_timestamp,transaction_hash,transaction_index,nonce,from_address,to_address,value,value_lossless,...,input,max_fee_per_gas,max_priority_fee_per_gas,transaction_type,chain_id,access_list,r,s,v,y_parity
0,0x7506aafbadcf548bf79ddcdc5a9b0f560243e09c48fb...,18199149,2023-09-23 14:35:11+00:00,0x079f72cfd0b677ec21508b5c3fa53207785d258b62ff...,48,78378,0x8c54ebdd960056d2cff5998df5695daca1fc0190,0x4d224452801aced8b2f0aebe155379bb5d594381,0E-38,0,...,0xa9059cbb0000000000000000000000000c97305bd07f...,15922721096,2000000000,2,1,[],0x82b2b97ee1b18afe9410903a068041c84b8ebf211594...,0x40ac80b4e4de7d8c1ed67bed8a684e06d0a5eaf7de1a...,0x1,0x1

### Looking at a specific Token transfer using a hash. Dataset goog_blockchain_ethereum_mainnet_us

In [22]:
%%bigquery

SELECT * FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.token_transfers` 
WHERE 
--TIMESTAMP_TRUNC(block_timestamp, MONTH) = TIMESTAMP("2023-09-23") AND
transaction_hash = '0x079f72cfd0b677ec21508b5c3fa53207785d258b62ffd5e8b54b06653b5035a0'
LIMIT 1000;

Query is running:   0%|          |

Downloading:   0%|          |

,block_hash,block_number,block_timestamp,transaction_hash,transaction_index,event_index,batch_index,address,event_type,event_hash,event_signature,operator_address,from_address,to_address,token_id,quantity,removed
0,0x7506aafbadcf548bf79ddcdc5a9b0f560243e09c48fb...,18199149,2023-09-23 14:35:11+00:00,0x079f72cfd0b677ec21508b5c3fa53207785d258b62ff...,48,185,<NA>,0x4d224452801aced8b2f0aebe155379bb5d594381,ERC-20,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,"Transfer(address,address,uint256)",None,0x8c54ebdd960056d2cff5998df5695daca1fc0190,0x0c97305bd07fc582bcc2042b9a2dedd9f451e75b,None,10917000000000000000000,False

### Looking at the APECoin Contract (from Apecoin.com) using bigquery-public-data.crypto_ethereum

In [24]:
%%bigquery


SELECT * FROM `bigquery-public-data.crypto_ethereum.contracts` WHERE 
address = '0x4d224452801aced8b2f0aebe155379bb5d594381'
LIMIT 10;

Query is running:   0%|          |

Downloading:   0%|          |

,address,bytecode,function_sighashes,is_erc20,is_erc721,block_timestamp,block_number,block_hash
0,0x4d224452801aced8b2f0aebe155379bb5d594381,0x608060405234801561001057600080fd5b5060043610...,[],False,False,2022-02-14 13:25:35+00:00,14204533,0x4d3038ee6752ac5c3fff03438d3050b03a590bda447e...

### To view the first and last block indexed using goog_blockchain_ethereum_mainnet_us

In [25]:
%%bigquery

SELECT
  MIN(block_number) AS `First block`,
  MAX(block_number) AS `Newest block`,
  COUNT(1) AS `Total number of blocks`
FROM
  bigquery-public-data.goog_blockchain_ethereum_mainnet_us.blocks;

Query is running:   0%|          |

Downloading:   0%|          |

   First block  Newest block  Total number of blocks
0            0      18213296                18213297

### To view the number of Etherium transactions for Apecoin address using bigquery-public-data.crypto_ethereum

In [26]:
%%bigquery

SELECT contracts.address, COUNT(1) AS tx_count
FROM `bigquery-public-data.crypto_ethereum.contracts` AS contracts
JOIN `bigquery-public-data.crypto_ethereum.transactions` AS transactions ON (transactions.to_address = contracts.address)
WHERE 
--contracts.is_erc20 = TRUE 
--AND
contracts.address = '0x4d224452801aced8b2f0aebe155379bb5d594381'
GROUP BY contracts.address
ORDER BY tx_count DESC
LIMIT 10;

Query is running:   0%|          |

Downloading:   0%|          |

                                      address  tx_count
0  0x4d224452801aced8b2f0aebe155379bb5d594381   1238871

### Top10 Etherium Contracts by Transactions using bigquery-public-data.crypto_ethereum

In [28]:
%%bigquery

SELECT contracts.address, COUNT(1) AS tx_count
FROM `bigquery-public-data.crypto_ethereum.contracts` AS contracts
JOIN `bigquery-public-data.crypto_ethereum.transactions` AS transactions ON (transactions.to_address = contracts.address)
WHERE contracts.is_erc20 = TRUE
GROUP BY contracts.address
ORDER BY tx_count DESC
LIMIT 10;

Query is running:   0%|          |

Downloading:   0%|          |

                                      address   tx_count
0  0xdac17f958d2ee523a2206206994597c13d831ec7  173727472
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2   14768402
2  0x174bfa6600bf90c885c7c01c7031389ed1461ab9    9088375
3  0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce    7638457
4  0x514910771af9ca656af840dff83e8264ecf986ca    7024076
5  0x0d8775f648430679a709e98d2b0cb6250d2887ef    3115496
6  0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0    2971022
7  0xd26114cd6ee289accf82350c8d8487fedb8a0c07    2859539
8  0x9b9647431632af44be02ddd22477ed94d14aacaa    2260974
9  0x8fdcc30eda7e94f1c12ce0280df6cd531e8365c5    2229777

### Visualize the number of transactions by day over the last 6 months using bigquery-public-data.goog_blockchain_ethereum_mainnet_us.transactions

In [29]:
%%bigquery

SELECT
  TIMESTAMP_TRUNC(block_timestamp, DAY) AS timestamp1, COUNT(1) AS txn_count
FROM
  bigquery-public-data.goog_blockchain_ethereum_mainnet_us.transactions
WHERE
  block_timestamp >= CAST(DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH) AS TIMESTAMP)
GROUP BY timestamp1
ORDER BY timestamp1;

Query is running:   0%|          |

Downloading:   0%|          |

                   timestamp1  txn_count
0   2023-03-25 00:00:00+00:00    1052415
1   2023-03-26 00:00:00+00:00    1011463
2   2023-03-27 00:00:00+00:00    1100122
3   2023-03-28 00:00:00+00:00    1149677
4   2023-03-29 00:00:00+00:00    1165012
..                        ...        ...
180 2023-09-21 00:00:00+00:00    1131119
181 2023-09-22 00:00:00+00:00     974991
182 2023-09-23 00:00:00+00:00     863503
183 2023-09-24 00:00:00+00:00     883746
184 2023-09-25 00:00:00+00:00     575592

[185 rows x 2 columns]

### Count the number of blocks added each calendar day since "The Merge" using  bigquery-public-data.goog_blockchain_ethereum_mainnet_us
### Since then, there are 7200 slots available for blocks, but not every slot is used.

In [31]:
%%bigquery

SELECT
  DATE(block_timestamp) AS block_date,
  COUNT(block_number) AS daily_blocks,
  7200 - COUNT(block_number) AS skipped_slots
FROM
  bigquery-public-data.goog_blockchain_ethereum_mainnet_us.blocks
WHERE
  DATE(block_timestamp) BETWEEN DATE("2022-09-16") AND CURRENT_DATE("UTC") - 1 /* Only count complete days after The Merge */
GROUP BY block_date;

Query is running:   0%|          |

Downloading:   0%|          |

     block_date  daily_blocks  skipped_slots
0    2023-02-05          7166             34
1    2023-04-21          7098            102
2    2022-12-01          7163             37
3    2023-05-31          7101             99
4    2023-06-07          7089            111
..          ...           ...            ...
369  2023-09-02          7124             76
370  2023-09-04          7162             38
371  2023-08-15          7150             50
372  2023-09-16          7080            120
373  2023-09-22          7127             73

[374 rows x 3 columns]

### Total Staked ETH withdrawal using bigquery-public-data.goog_blockchain_ethereum_mainnet_us
 Lossless example with UDF workaround for UINT256

In [32]:
%%bigquery

WITH withdrawals AS (
  SELECT
    w.amount_lossless AS amount,
    DATE(b.block_timestamp) AS block_date
  FROM
    bigquery-public-data.goog_blockchain_ethereum_mainnet_us.blocks AS b
    CROSS JOIN UNNEST(withdrawals) AS w
)
SELECT
  block_date,
  bqutil.fn.bignumber_div(bqutil.fn.bignumber_sum(ARRAY_AGG(amount)), "1000000000") AS eth_withdrawn
FROM
  withdrawals
GROUP BY 1 ORDER BY 1 DESC;

Query is running:   0%|          |

Downloading:   0%|          |

     block_date eth_withdrawn
0    2023-09-25          4305
1    2023-09-24         84189
2    2023-09-23         15584
3    2023-09-22          4027
4    2023-09-21          3453
..          ...           ...
162  2023-04-16        280435
163  2023-04-15        392802
164  2023-04-14        103300
165  2023-04-13        202781
166  2023-04-12         18083

[167 rows x 2 columns]

### Total Staked ETH withdrawal using bigquery-public-data.goog_blockchain_ethereum_mainnet_us
-- Lossy example

In [33]:
%%bigquery


WITH withdrawals AS (
  SELECT
    u.amount AS amount
  FROM
    bigquery-public-data.goog_blockchain_ethereum_mainnet_us.blocks
    CROSS JOIN UNNEST(withdrawals) AS u
)
SELECT
  SUM(withdrawals.amount) / POW(10,9) AS total_eth_withdrawn
FROM
  withdrawals;

Query is running:   0%|          |

Downloading:   0%|          |

   total_eth_withdrawn
0         4.613736e+06

### Earned mining transaction fees since EIP-1559 using bigquery-public-data.goog_blockchain_ethereum_mainnet_us
-- Since EIP-1559, the base fees of transactions are burned and the miners only earn the priority fees. 
-- The following query computes the total amount of fees earned by the miners since the London hard fork.

In [34]:
    
%%bigquery

WITH tgas AS (
  SELECT t.block_number, gas_used, effective_gas_price FROM
    bigquery-public-data.goog_blockchain_ethereum_mainnet_us.receipts AS r
    JOIN bigquery-public-data.goog_blockchain_ethereum_mainnet_us.transactions AS t
    ON t.block_number = r.block_number AND t.transaction_hash = r.transaction_hash
)
SELECT
  /* Cast needed to avoid INT64 overflow when doing multiplication. */
  SUM(CAST(tgas.effective_gas_price - b.base_fee_per_gas AS BIGNUMERIC) * tgas.gas_used)
FROM
  bigquery-public-data.goog_blockchain_ethereum_mainnet_us.blocks b JOIN tgas
  ON b.block_number = tgas.block_number
WHERE
  b.block_number >= 12965000 /* The London hard fork. */;

Query is running:   0%|          |

Downloading:   0%|          |

                                                 f0_
0  696702123772103932987572.000000000000000000000...

### Top 10 USDC Account Balances using bigquery-public-data.goog_blockchain_ethereum_mainnet_us
-- Analyze the current top holders of USDC tokens.

In [35]:
%%bigquery


WITH Transfers AS (
  SELECT address token, to_address account, 0 _out, CAST(quantity AS BIGNUMERIC) _in
  FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.token_transfers`

  UNION ALL

  SELECT address token, from_address account, CAST(quantity AS BIGNUMERIC) _out, 0 _in
  FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.token_transfers`
)

/* Top 10 Holders of USDC */
SELECT account, (SUM(_in) - SUM(_out)) / 1000000 balance
FROM Transfers
WHERE token = '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
GROUP BY account
ORDER BY balance DESC
LIMIT 10;

Query is running:   0%|          |

Downloading:   0%|          |

,account,balance
0,0xcee284f754e854890e311e3280b767f80797180d,676231270.70183400000000000000000000000000000000
1,0x40ec5b33f54e0e8a33a975908c5ba1c14e5bbbdf,635248844.66052400000000000000000000000000000000
2,0x0a59649758aa4d66e25f08dd01271e891fe52199,500932928.42373400000000000000000000000000000000
3,0x47ac0fb4f2d84898e4d9e7b4dab3c24507a6d503,422999999.84000000000000000000000000000000000000
4,0xd54f502e184b6b739d7d27a6410a67dc462d69c8,338757632.55989400000000000000000000000000000000
5,0x99c9fc46f92e8a1c0dec1b1747d010903e884be1,277929309.59330100000000000000000000000000000000
6,0xda9ce944a37d218c3302f6b82a094844c6eceb17,257000000.00000000000000000000000000000000000000
7,0x51edf02152ebfb338e03e30d65c15fbf06cc9ecc,230000000.00000200000000000000000000000000000000
8,0x7713974908be4bed47172370115e8b1219f4a5f0,218307714.86045700000000000000000000000000000000
9,0x68a99f89e475a078645f4bac491360afe255dff1,197291813.80663600000000000000000000000000000000

### Top 5 most active traders of BAYC tokens using bigquery-public-data.goog_blockchain_ethereum_mainnet_us
-- Analyze which EOAs have transferred the most Bored Ape NFTs

In [36]:
%%bigquery


WITH Transfers AS (
  SELECT address AS token, to_address AS account, COUNT(*) transfer_count
  FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.token_transfers`
  GROUP BY token, account

  UNION ALL

  SELECT address AS token, from_address AS account, COUNT(*) transfer_count
  FROM `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.token_transfers`
  WHERE from_address != '0x0000000000000000000000000000000000000000'
  GROUP BY token, account
)

SELECT account, SUM(transfer_count) quantity
FROM Transfers LEFT JOIN `bigquery-public-data.goog_blockchain_ethereum_mainnet_us.accounts` ON account = address
WHERE NOT is_contract AND token = '0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d' /* BAYC */
GROUP BY account
ORDER BY quantity DESC
LIMIT 5;

Query is running:   0%|          |

Downloading:   0%|          |

                                      account  quantity
0  0xed2ab4948ba6a909a7751dec4f34f303eb8c7236      6036
1  0x020ca66c30bec2c4fe3861a94e4db4a498a35872      2988
2  0xd387a6e4e84a6c86bd90c158c6028a58cc8ac459      2506
3  0x8ae57a027c63fca8070d1bf38622321de8004c67      2162
4  0x77e3e957082ca648c1c5b0f3e6aec00ab1245186      1128

### Etherium Balance for BAYC using bigquery-public-data.crypto_ethereum

In [37]:
%%bigquery

SELECT *
FROM `bigquery-public-data.crypto_ethereum.balances`
WHERE SEARCH(address, '0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d', analyzer=>'NO_OP_ANALYZER'); /* BAYC */

Query is running:   0%|          |

Downloading:   0%|          |

                                      address                  eth_balance
0  0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d  10201000000000000.000000000

### Transaction throughput comparison using 
bigquery-public-data.crypto_bitcoin_cash, bigquery-public-data.crypto_ethereum, bigquery-public-data.crypto_ethereum_classic, bigquery-public-data.crypto_dogecoin and others

In [38]:
%%bigquery


WITH bitcoin_throughput AS (
    -- takes transactions count in every block and divides it by average block time on that day
    SELECT 'bitcoin' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_bitcoin.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
bitcoin_cash_throughput AS (
    SELECT 'bitcoin_cash' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_bitcoin_cash.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
ethereum_throughput AS (
    SELECT 'ethereum' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_ethereum.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
ethereum_classic_throughput AS (
    SELECT 'ethereum_classic' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_ethereum_classic.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
dogecoin_throughput AS (
    SELECT 'dogecoin' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_dogecoin.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
litecoin_throughput AS (
    SELECT 'litecoin' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_litecoin.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
dash_throughput AS (
    SELECT 'dash' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_dash.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
),
zcash_throughput AS (
    SELECT 'zcash' AS chain, count(*) / (24 * 60 * 60 / count(*) OVER (PARTITION BY DATE(block_timestamp))) AS throughput, block_timestamp AS time
    FROM `bigquery-public-data.crypto_zcash.transactions` AS transactions
    GROUP BY transactions.block_number, transactions.block_timestamp
    ORDER BY throughput DESC
    LIMIT 1
)
SELECT * FROM bitcoin_throughput
UNION ALL
SELECT * FROM bitcoin_cash_throughput
UNION ALL
SELECT * FROM ethereum_throughput
UNION ALL
SELECT * FROM ethereum_classic_throughput
UNION ALL
SELECT * FROM dogecoin_throughput
UNION ALL
SELECT * FROM litecoin_throughput
UNION ALL
SELECT * FROM dash_throughput
UNION ALL
SELECT * FROM zcash_throughput
ORDER BY throughput DESC;

Query is running:   0%|          |

Downloading:   0%|          |

              chain  throughput                      time
0      bitcoin_cash  281.999676 2018-11-10 14:34:35+00:00
1          ethereum  116.875451 2022-12-23 20:18:59+00:00
2              dash   67.076319 2020-03-16 00:05:13+00:00
3          dogecoin   66.679549 2023-05-30 13:27:05+00:00
4          litecoin   49.419167 2019-11-02 18:43:59+00:00
5  ethereum_classic   23.739896 2019-01-13 08:09:56+00:00
6           bitcoin   21.956539 2015-08-01 01:06:41+00:00
7             zcash    7.876435 2018-08-03 02:08:54+00:00

### Ethereum Supply By Day using bigquery-public-data.crypto_ethereum

In [40]:
%%bigquery


WITH ether_emitted_by_date  AS (
  SELECT date(block_timestamp) AS date, SUM(value) AS value
  FROM `bigquery-public-data.crypto_ethereum.traces`
  WHERE trace_type IN ('genesis', 'reward')
  GROUP BY DATE(block_timestamp)
)
SELECT date, SUM(value) OVER (ORDER BY date) / POWER(10, 18) AS supply
FROM ether_emitted_by_date;

Query is running:   0%|          |

Downloading:   0%|          |

            date        supply
0     1970-01-01  7.200999e+07
1     2015-07-30  7.204930e+07
2     2015-07-31  7.208549e+07
3     2015-08-01  7.211320e+07
4     2015-08-02  7.214142e+07
...          ...           ...
2888  2023-06-25  1.223739e+08
2889  2023-06-26  1.223739e+08
2890  2023-06-27  1.223739e+08
2891  2023-06-28  1.223739e+08
2892  2023-06-29  1.223739e+08

[2893 rows x 2 columns]

In [ ]:
### Every Ethereum balance every day
### Will take long to execute

In [ ]:
%%bigquery


WITH double_entry_book AS (
    -- debits
    SELECT to_address AS address, value AS value, block_timestamp
    FROM `bigquery-public-data.crypto_ethereum.traces`
    WHERE to_address IS NOT NULL
    AND status = 1
    AND (call_type NOT IN ('delegatecall', 'callcode', 'staticcall') OR call_type IS NULL)
    UNION ALL
    -- credits
    SELECT from_address AS address, -value AS value, block_timestamp
    FROM `bigquery-public-data.crypto_ethereum.traces`
    WHERE from_address IS NOT NULL
    AND status = 1
    AND (call_type NOT IN ('delegatecall', 'callcode', 'staticcall') OR call_type IS NULL)
    UNION ALL
    -- transaction fees debits
    SELECT 
        miner AS address, 
        SUM(CAST(receipt_gas_used AS numeric) * CAST((receipt_effective_gas_price - COALESCE(base_fee_per_gas, 0)) AS numeric)) AS value,
        block_timestamp
    FROM `bigquery-public-data.crypto_ethereum.transactions` AS transactions
    JOIN `bigquery-public-data.crypto_ethereum.blocks` AS blocks ON blocks.number = transactions.block_number
    GROUP BY blocks.number, blocks.miner, block_timestamp
    UNION ALL
    -- transaction fees credits
    SELECT 
        from_address AS address, 
        -(CAST(receipt_gas_used AS numeric) * CAST(receipt_effective_gas_price AS numeric)) AS value,
        block_timestamp
    FROM `bigquery-public-data.crypto_ethereum.transactions`
),
double_entry_book_grouped_by_date AS (
    SELECT address, SUM(value) AS balance_increment, DATE(block_timestamp) AS date
    FROM double_entry_book
    GROUP BY address, date
),
daily_balances_with_gaps AS (
    SELECT address, date, SUM(balance_increment) OVER (PARTITION BY address ORDER BY date) AS balance,
    LEAD(date, 1, CURRENT_DATE()) OVER (PARTITION BY address ORDER BY date) AS next_date
    FROM double_entry_book_grouped_by_date
),
calendar AS (
    SELECT date FROM UNNEST(GENERATE_DATE_ARRAY('2015-07-30', CURRENT_DATE())) AS date
),
daily_balances AS (
    SELECT address, calendar.date, balance
    FROM daily_balances_with_gaps
    JOIN calendar ON daily_balances_with_gaps.date <= calendar.date AND calendar.date < daily_balances_with_gaps.next_date
)
SELECT address, date, balance
FROM daily_balances;

In [ ]:
# www.nansen.ai maintains the bigquery-public-data.crypto_ethereum

In [ ]:
# https://github.com/blockchain-etl/awesome-bigquery-views

In [42]:
# https://cloud.google.com/blockchain-analytics/docs/example-ethereum

In [41]:
# https://cloud.google.com/blockchain-analytics/docs/example-applications

In [ ]:
# https://medium.com/google-cloud/live-ethereum-and-bitcoin-data-in-google-bigquery-and-pub-sub-765b71cd57b5 (Live Etherium Data)